name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4 # v2 থেকে v4 এ আপডেট করা হয়েছে

      - name: Set up JDK 17
        uses: actions/setup-java@v4 # v2 থেকে v4 এ আপডেট করা হয়েছে
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Cordova
        run: npm install -g cordova

      - name: Add Android Platform
        run: cordova platform add android@12.0.0

      - name: Build APK
        run: cordova build android --debug

      - name: Upload APK
        uses: actions/upload-artifact@v4 # v2 থেকে v4 এ আপডেট করা হয়েছে (এরর সমাধান)
        with:
          name: AutoPay-Debug-APK
          path: platforms/android/app/build/outputs/apk/debug/app-debug.apk
